<h1>Sign Up Below:</h1>
  <form method="POST" action="/registrations">

    <label>Name:
    <input id="name" type="text" name="name">
    </label>
    <label>Email:
    <input id="email" type="text" name="email">
    </label>
    <label>Password:
    <input id="password" type="text" name="password">
    </label>
    <input type="submit">

  </form>

