<h1>Sign Up Below:</h1>
  <form method="POST" action="/registrations">

    <label>Name:
    <input id="name" type="text" name="name">
    </label>
    <label>Content:
    <input id="content" type="text" name="content">
    </label>
    <label></label>
    <input id="content" type="text" name="content">
    <input type="submit">

  </form>

